th, td {
  text-align: center;
  margin: 5px;
  padding: 5px;
  border: 1px solid #1c213031; 
}

th {
  color: white;
  background-color: #1c2130; 
  border: solid rgba(255, 255, 255, 0.205);
}

.botones-acciones {
  display: flex;
  gap: 5px;
}

tr:nth-child(even) {
  background-color: #ffffff; 
}

tr:nth-child(odd) {
  background-color: #2a314611; 
}

.Search input {
  width: 150px; 
  border: 1px solid black; 
}
