th, td {
  text-align: center;
  margin: 5px;
  padding: 5px;
  border: 1px solid #1c213031; 
}

th {
  color: white;
  background-color: #1c2130; 
  border: solid rgba(255, 255, 255, 0.205);
}

.botones-acciones {
  display: flex;
  gap: 5px;
}

tr:nth-child(even) {
  background-color: #ffffff; 
}

tr:nth-child(odd) {
  background-color: #2a314611; 
}

.enviar-correo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search{
  margin: 5px;
}

.search-i {
    border-color: #1c213056;
    border-width: 1px; 
    border-radius: 5px;
  }
  
label{
  margin: 0px;
}