<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9 col-md-8 col-sm-12">
      
      <!-- Filtro de fechas -->
      <div class="filtroFecha">
        <div>
          <label for="fechaDesde">Desde:</label>
          <input type="date" id="fechaDesde" (change)="filtrarPorFechas()">
        </div>
        <div>
          <label for="fechaHasta">Hasta:</label>
          <input type="date" id="fechaHasta" (change)="filtrarPorFechas()">
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 d-flex justify-content-end">
      
      <!-- Filtro de búsqueda -->
      <div class="Search">
        <mat-form-field>
          <input matInput (keyup)="aplicarFiltro($event)" placeholder="Buscar...">
        </mat-form-field>
      </div>
    </div>
    
  </div>
</div>

<div class="table-container">
  <div class="mat-elevation-z8">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Columnas de la tabla -->
        <ng-container *ngFor="let column of displayedColumns; let i = index" [matColumnDef]="column">
          <th *matHeaderCellDef mat-sort-header> {{ columnasTraducidas[column] }}</th>
          <td mat-cell *matCellDef="let voucher" class="acciones"> 
            <ng-container *ngIf="column === 'acciones'">
              <div class="botones-acciones">
                <button mat-icon-button color="primary" aria-label="Example picture_as_pdf icon" (click)="descargarPDF(voucher)">
                  <mat-icon style="color: #1c2130;">picture_as_pdf</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Example description icon" (click)="descargarXML(voucher)">
                  <mat-icon style="color: #1c2130;">description</mat-icon>
                </button>
              </div>
            </ng-container>
            <ng-container *ngIf="column === 'sendEmail'">
              <button mat-icon-button color="primary" aria-label="Example email icon" (click)="enviarCorreo(voucher)">
                <mat-icon style="color: #1c2130;">email</mat-icon>
              </button>
          </ng-container>
            <ng-container *ngIf="column !== 'acciones'">
              {{ capitalize(voucher[column]) }}
            </ng-container>
          </td>
          
        </ng-container>

        <!-- Filas de la tabla -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <!-- Paginador -->
    <mat-paginator [pageSizeOptions]="[5]" aria-label="Seleccionar página de vouchers"></mat-paginator>
  </div>
</div>
<app-email *ngIf="mostrarFormularioEmail" [ngClass]="'enviar-correo'">
</app-email>


